node_modules
**/node_modules
dist
**/dist
.next
**/.next
coverage
**/coverage
*.log
.git
.github
.vscode
.DS_Store
.env
.env.local
.env.*.local
design-prototype
docker-compose.yml
*.md
!apps/*/README.md
