# dependencies
node_modules/
.pnpm-store/

# build outputs
dist/
.next/
out/
*.tsbuildinfo
**/coverage/
apps/docs/.vitepress/cache/
apps/docs/.vitepress/dist/

# env + secrets
.env
.env.local
.env.*.local

# logs
*.log
logs/

# OS
.DS_Store
Thumbs.db

# editor
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
